h3 {
  font-size: 24px;
  font-weight: bold;
}

h5, .modal-title {
  font-size: 20px;
  font-weight: bold;
}

h6 {
  font-size: 18px;
  font-weight: bold;
}

.table th {
  font-size: 16px;
  font-weight: bold;
}

.table td {
  font-size: 14px;
}

.form-label {
  font-size: 14px;
}

/* Buttons */
.btn-custom-outline {
  color: black !important;
  background-color: white !important;
  border: 1px solid black !important;
  padding: 12px 24px;
  margin: 5px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

.alert-info {
  background-color:rgb(250, 218, 122) !important;
  border-color: rgb(252, 245, 150) !important;
  color: black !important;
}

.table-column-header {
  background-color: rgb(250, 218, 122) !important;
  color: black !important;
}


.btn-custom-outline-primary {
  color: white !important;
  background-color: rgb(169, 22, 22) !important;
  border: 1px solid white !important;
  padding: 12px 24px;
  margin: 5px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

.btn-custom-outline:hover {
  background-color: black !important;
  color: white !important;
  border: 1px solid white !important;
}

.btn-custom-outline-primary:hover {
  background-color: black !important;
  color: white !important;
  border: 1px solid white !important;
}

/* Modal Enhancements */
.modal-content {
  border-radius: 10px;
  padding: 15px;
}

.modal-header {
  background: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-footer {
  background: #f8f9fa;
  border-top: 2px solid #dee2e6;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-title {
  font-weight: bold;
}

.form-label {
  font-weight: 600;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
}

.form-select {
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
}

.d-flex input {
  max-width: 80%;
}
