<footer class="footer mt-5">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-4">
          <h5>JOROCO</h5>
          <p>Bringing the latest in medical research to the world.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/journal-info/about-journal">About Us</a></li>
            <li><a routerLink="/journals">Journals</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <div>
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <hr>
      <p class="text-center">© 2025 JOROCO. All Rights Reserved.</p>
    </div>
  </footer>
  