<footer class="footer">
    <div class="container py-2"> <!-- Reduce padding -->
        <div class="row">
            <div class="col-md-4">
                <h4>JOROCO</h4> <!-- Reduce heading size -->
                <p>Bringing the latest in medical research to the world.</p>
            </div>
            <div class="col-md-4">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                    <li><a routerLink="/journal-info/about-journal">About Us</a></li>
                    <li><a routerLink="/journals">Journals</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Follow Us</h4>
                <div>
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center">© 2025 JOROCO. All Rights Reserved.</p>
    </div>
</footer>
