<div class="container mt-4">
    <h3>Add Paper Details</h3>
  
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Article Type <span class="text-danger">*</span></label>
        <select class="form-select" formControlName="articleType">
          <option value="">Select</option>
          <option *ngFor="let type of articleTypes" [value]="type">{{ type }}</option>
        </select>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Title <span class="text-danger">*</span></label>
        <textarea class="form-control" formControlName="title" maxlength="500"></textarea>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Running Title</label>
        <textarea class="form-control" formControlName="runningTitle" maxlength="500"></textarea>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Abstract</label>
        <textarea class="form-control" formControlName="abstract" maxlength="3500"></textarea>
      </div>
  
      <div class="row">
        <div class="col">
          <label class="form-label">Word Count</label>
          <input type="number" class="form-control" formControlName="wordCount">
        </div>
        <div class="col">
          <label class="form-label">Black & White Figures</label>
          <input type="number" class="form-control" formControlName="bwFigures">
        </div>
        <div class="col">
          <label class="form-label">Color Figures</label>
          <input type="number" class="form-control" formControlName="colorFigures">
        </div>
        <div class="col">
          <label class="form-label">Tables</label>
          <input type="number" class="form-control" formControlName="tables">
        </div>
        <div class="col">
          <label class="form-label">Pages</label>
          <input type="number" class="form-control" formControlName="pages">
        </div>
      </div>

      <br>
      <div class="mb-3">
        <label class="form-label">Keywords <span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="keywords" placeholder="Minimum 3 keywords, comma separated">
      </div>
  
      <div class="mb-3">
        <label class="form-label">Trial Registration Number</label>
        <input type="text" class="form-control" formControlName="trialRegistration">
      </div>
  
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-dark me-2">SAVE & EXIT</button>
        <button type="submit" class="btn btn-danger">SAVE AND CONTINUE</button>
      </div>
    </form>
  </div>
  