.main-container{
    padding-top: 2rem;
    padding-right: 4rem; 
    padding-left: 4rem;
    padding-bottom: 2rem;
    font-size: medium;
}

h2{
    text-align: center;
}

h4{
    font-weight: bold;
}