<div class="main-container">
    <h2 class="text-danger">About the Journal</h2>
    <hr>
    <p>Journal of Radiation Oncology and Clinical Oncology is a peer-reviewed, open-access journal dedicated to advancing research, innovation, and clinical practice in the fields of radiation oncology and clinical oncology. As cancer treatment continues to evolve with cutting-edge technologies and novel therapeutic approaches, our journal serves as a vital platform for researchers, clinicians, and healthcare professionals to share their latest findings, insights, and advancements. We are committed to publishing high-quality research, case studies, and reviews that contribute to the global fight against cancer, improving patient outcomes and shaping the future of oncology care.
    
    </p>

    <h4>Our Vision</h4>
    <p>We strive to be a leading source of knowledge in oncology, bridging the gap between research and clinical application to improve patient outcomes. By fostering collaboration among researchers, oncologists, and healthcare professionals, we aim to support advancements in cancer treatment and radiation therapy.</p>

    <h4>Scope of the Journal</h4>
    <span>Our journal covers a broad range of topics, including but not limited to:</span>
    <ul>
        <li>Advances in radiation therapy techniques</li>
        <li>Novel approaches in clinical oncology</li>
        <li>Translational research and personalized medicine</li>
        <li>Radiobiology and tumor response studies</li>
        <li>Imaging and diagnostic innovations</li>
        <li>Palliative and supportive cancer care</li>
        <li>Clinical trials and emerging therapies</li>
    </ul>

    <h4>Why Publish with Us?</h4>
    <ul>
        <li><b>Rigorous Peer Review:</b> Our expert editorial and review board ensures the highest standards of scientific integrity.</li>
        <li><b>Open Access:</b> All published articles are freely accessible, increasing their global reach and impact.</li>
        <li><b>Rapid Publication:</b> We streamline the review process to facilitate timely dissemination of research findings.</li>
        <li><b>nterdisciplinary Approach:</b> We encourage collaboration between radiation oncologists, medical oncologists, physicists, and researcher. </li>
    </ul>

    <h4>Join Our Community</h4>
    <p>We welcome contributions from researchers, clinicians, and industry professionals dedicated to advancing oncology care. Whether you are an author, reviewer, or reader, the Journal of Radiation Oncology and Clinical Oncology provides a dynamic platform for sharing groundbreaking research and fostering scientific progress.</p>
    <p>For more information, submission guidelines, or to explore our latest publications, please visit our website or contact our editorial team.</p>
</div>
