<div class ="main">
<h2 class="text-danger"> Affiliated Society</h2>
<hr>
<p>The Journal of Radiation Oncology and Clinical Oncology (JOROCO) is affiliated with [Society Name], a leading organization dedicated to the advancement of research, education, and clinical practice in radiation and clinical oncology. The society fosters collaboration among researchers, oncologists, medical physicists, and healthcare professionals to improve cancer treatment outcomes and promote innovation in the field.</p> 

   <p>As an affiliated journal, JOROCO serves as the official publication platform for society members, providing a space for high-quality research, clinical studies, and expert reviews. The journal actively supports the society’s mission by disseminating groundbreaking discoveries, guidelines, and best practices to a global audience.</p>
</div>