.instructions-for-authors {
  padding-top: 2rem;
  padding-right: 6rem; 
  padding-left: 6rem;
  padding-bottom: 2rem;
    font-family: Arial, sans-serif;
  }
  
  
  h4,h2 {
    margin-top: 20px;
    color: #333;
    font-weight: bold;
  }
  
  p {
    line-height: 1.6;
    font-size: medium;
  }

  h2{
    text-align: center;
}
