.instructions-for-authors {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  
  h5,h4 {
    margin-top: 20px;
    color: #333;
    font-weight: bold;
  }
  
  p {
    line-height: 1.6;
    font-size: medium;
  }

