<div class="instructions-for-authors">
    <b><h4>Instructions for Authors</h4></b>
  
    <b><h5>About the Journal</h5></b>
    <p>
      JOROCO, is a peer-reviewed online journal with Quarterly print on demand compilation of issues published.
      The journal's full text is available online at .
    </p>
  
    <b><h5>Scope of the Journal</h5></b>
    <p>The journal will cover technical and clinical studies related to health...</p>
  
    <b><h5>The Editorial Process</h5></b>
    <p>A manuscript will be reviewed for possible publication...</p>
  
    <b><h5>Clinical Trial Registry</h5></b>
    <p>Journal favors registration of clinical trials...</p>
  
    <b><h5>Authorship Criteria</h5></b>
    <p>Authorship credit should be based only on substantial contributions to each of the three components...</p>
  
    <b><h5>Submission of Manuscripts</h5></b>
    <p>All manuscripts must be submitted on-line through the website.</p>
  
    <b><h5>Preparation of Manuscripts</h5></b>
    <p>Manuscripts must be prepared in accordance with "Uniform requirements for Manuscripts submitted to Biomedical Journals"...</p>
  
    <b><h5>Types of Manuscripts</h5></b>
    <p>Original articles: ...</p>
  
    <b><h5>References</h5></b>
    <p>References should be numbered consecutively in the order in which they are first mentioned in the text...</p>
  
    <b><h5>Tables</h5></b>
    <p>Tables should be self-explanatory and should not duplicate textual material...</p>
  
    <b><h5>Illustrations (Figures)</h5></b>
    <p>Upload the images in JPEG format...</p>
  
    <b><h5>Protection of Patients' Rights to Privacy</h5></b>
    <p>Identifying information should not be published...</p>
  
    <b><h5>Sending a Revised Manuscript</h5></b>
    <p>The revised version of the manuscript should be submitted online in a manner similar...</p>
  
    <b><h5>Reprints and Proofs</h5></b>
    <p>Journal provides no free printed reprints...</p>
    
    <b><h5>Publication Schedule</h5></b>
    <p>The journal publishes articles on its website immediately on acceptance...</p>
  
    <b><h5>Manuscript Submission, Processing and Publication Charges</h5></b>
    <p>Article processing charge: ...</p>
  
    <b><h5>Copyrights</h5></b>
    <p>The entire contents of the Journal are protected...</p>
  
    <b><h5>Checklist</h5></b>
    <p>Covering letter: ...</p>
  
    <b><h5>Ready-to-use Templates</h5></b>
    <p>These ready to use templates are made to help the contributors write as per the requirements of the Journal...</p>
</div>
