.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  mat-expansion-panel {
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  