<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <span class="fw-bold text-danger">JOROCO</span>
    </a>

    <!-- Mobile Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Items -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/current-issue">Current Issue</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/current-issue">Previous Issues</a></li>

        <!-- Authors Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="publicationsDropdown" role="button" data-bs-toggle="dropdown">For Authors</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/author/info">Information for Authors</a></li>
            <li><a class="dropdown-item" routerLink="/conferences">Submit a Manuscript</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/current-issue">Published Ahead of Print</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="publicationsDropdown" role="button" data-bs-toggle="dropdown">Journal Info</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="journal-info/about-journal">About Journal</a></li>
            <li><a class="dropdown-item" routerLink="journal-info/editorial-board">Editorial Board</a></li>
            <li><a class="dropdown-item" routerLink="/conferences">Affiliated Society</a></li>
            <li><a class="dropdown-item" routerLink="/journals">Advertising</a></li>
            <li><a class="dropdown-item" routerLink="/journals">Subscriptions</a></li>
            <li><a class="dropdown-item" routerLink="/journals">Reprints</a></li>
            <li><a class="dropdown-item" routerLink="/journals">Rigths and Permissions</a></li>
          </ul>
        </li>

        <!-- Profile Icon (Conditionally Rendered) -->
        <li class="nav-item" *ngIf="isLoggedIn; else loginOption">
          <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown">
            <img src="assets/user.svg" alt="Login Icon" class="icon">
          </a>
          <ul class="dropdown-menu">
            <li><span class="dropdown-item">Profile</span></li>
            <li><a class="dropdown-item" routerLink="/my-publications">My Publications</a></li>
            <li><a class="dropdown-item text-danger" (click)="logout()">Logout</a></li>
          </ul>
        </li>

        <!-- If Not Logged In -->
        <ng-template #loginOption>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              <img src="assets/user.svg" alt="Login Icon" class="icon"> 
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
