.navbar-nav .nav-link {
    color: black;
    font-weight: 500;
  }
  
  .navbar-nav .nav-link:hover {
    color: red;
  }
  
  .btn-danger {
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 5px;
  }