.table-container {
    width: 100%;
    margin: 20px auto;
  }
  
  .filter-field {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .mat-elevation-z8 {
    background: white;
  }
  
  button {
    margin-right: 5px;
  }
  